@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

@keyframes rotate {  /* 클릭했을 때 돌아가는 모션 */ 
     50% { /* 10초동안 애니메이션 돌아간다고 가정하면 50% 즉 5초대까지 어떻게 할 것인지 */
        transform: roatate(180deg); /*회전했을 때 몇도 */
    }
    100% {
        transform: rotate(360deg);
    }
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'GmarketSansMedium';
    background-color: #5B2386;
    color: #FFF; /*글자의 컬러*/
}

/*메인컨텐츠*/
#contents {
    display: flex; /*요소들을 똑같은 넓이(가로) 간격으로 정렬해줌*/
    justify-content: center; /*컨텐츠 가로정렬*/
}

.wrappter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /*flex를 세로로 똑같은 간격으로 정렬 (wrapper 안의 title, intro 등)*/
    margin-top: 50px; /*테두리 밖깥 위 여백*/
}

/*제목 이미지*/
.title {
    display: flex;
    justify-content: center; /*클래스 안의 컨텐츠들 가로정렬*/
    align-items: center; /*컨텐츠들 세로정렬*/
    margin-bottom: 50px;
}

.title .clock_img {
    position: relative; /*겹쳐질 컨텐츠들의 기준 (배경)*/
    width: 265px;
    height: 265px;
}

.title_img {
    position: absolute; /*겹쳐질 컨텐츠들의 요소*/
    width: 564px;
}

.title_img img {
    width: 100%;
    height: auto;
}

/* 1만 시간의 법칙 설명 */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.intro .intro_saying {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-bottom: 50px;
}

.intro .explain {
    display: flex;
    justify-content: center; /*클래스 안의 컨텐츠들 가로정렬 (이미지가 하나이므로 세로정렬 필요없음)*/
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.intro .quotes {
    padding-top: 20px;
}

.intro .explain p {
    position: absolute;
    font-size: 17px;
    line-height: 1.7;
}

.intro .explain span {
    font-family: 'GmarketSansBold';
    font-size: 20px;
}

/* 사용자 입력 */

.inputs {
    display: flex; 
    flex-direction: column; /*inputs 안의 filed, time 세로정렬 (이거없으면 옆으로배치됨)*/
    align-items: center;
    font-size: 20px;
    margin-bottom: 70px;
}

.inputs div { /*inputs 세로정렬 해놧으니까 p와 span은 세로정렬 안하려면 display:flex 해놔야함*/
    display: flex; /*inputs의 div안의 요소들을 가로정렬*/
    align-items: center;
    margin-bottom: 20px;
}

.inputs input {
    padding: 15px 20px; /*상하15px 좌우20px   >> 15 20 15 20   12시 3시 6시 9시*/
    margin: 0 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    width: 200px;
}

.inputs input::placeholder { /*Iinputs 의 input폼 안의 글자 옵션 >>    ::placeholder*/
    color: #BABCBE;
}

/* 버튼 공통 스타일 */
button {
    display: flex;
    align-items: center;
    font-family: 'GmarketSansBold';
    font-size: 20px;
    color: #5B2386;
    background-color: #FCEE21;
    border: none;
    border-radius: 30px;
    padding : 10px 40px;
    cursor: pointer; /*마우스 갖다댔을 때 손모양으로 바뀜*/
    word-break: keep-all; /*word-break : 어떤 기준으로 줄바꿈,  keep-all : 단어 단위*/
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.start .btn_wrap {
    position: relative;
}

.start .click_img {
    position: absolute;
    right: -75px;
    bottom: -25px;
}

/* 결과 로딩 */
.result_loading {
    display: none; /*일반페이지에서는 안보이고 클릭햇을때 보이게 하기위해 none */
    justify-content: center;
    margin-bottom: 80px;
}

.result_loading .img_wrap {
    width: 100px;
    height: 100px;
}

.result_loading .img_wrap img {
    width: 100%;
    height: auto;
    animation: rotate 1.1s infinite linear; 
    /*위에서 만든 로테이트 함수.   
    infinite는 무한히 지속되게,
    linear는 가속도 없이 일정하게 돌아가게 함*/
}

/* 결과 */
.result {
    display: none;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 80px;
}

.result .result_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result .result_wrap div {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.result span {
    padding: 0 20px;
    font-family: 'GmarketSansBold';
    font-size: 70px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.buttons .share button {
    background-color: #FFF;
    margin-left: 20px;
}

#modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

#modal .modal_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    background-color: #FFF;
    border-radius: 20px;
}

#modal .cheer {
    font-family: 'OTEnjoystoriesBA';
    color: #5B2386;
    text-align: center;
}

#modal .cheer h1 {
    font-size: 80px;
}

#modal .cheer h3 {
    font-size: 30px;
}

#modal .licat_img {
    margin-bottom: 20px;
}

#modal .close_btn {
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 15%);  /*우 하 블러정도 범위 rgba(0,0,0,50%) >> r g b 명암도*/
    margin-bottom: 20px;

}

#modal .btn p {
    color: #747474;
    font-size: 13px;
    text-align: center;
}

/* 저작권 */
#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#copyright p {
    font-size: 10px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
}